.currency-div {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    border: 1px solid #ff0000;
    width: 510px;
    height: 190px;
    border-radius: 25px;
}

.amount {
    width: 80px;
    height: 25px;
    margin-right: 15px;
}

.result {
    width: 80px;
    height: 25px;
}

.from-currency-option {
    width: 85px;
    height: 28px;
    margin-right: 15px;
}

.from-currency-option:hover {
    background-color: rgb(223, 250, 239);
}

.to-currency-option {
    width: 85px;
    height: 28px;
    margin-right: 15px;
}

.to-currency-option:hover {
    background-color: rgb(223, 250, 239);
}

.exchange-button {
    width: 80px;
    height: 36px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}